.cursor {
    z-index: 999;
    position: fixed;
    background: #00d9ff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 20px #ff00c8,
                0 0 60px #f700ff,
                0 0 100px #ff0080;
    animation: color 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes color {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before {
    content: '';
    position: absolute;
    background: #00d9ff;
    width: 25px;
    height: 25px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 100%;
}