@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(header.css);
@import url(home.css);
@import url(menu.css);
@import url(testimonials.css);
@import url(footer.css);
@import url(cursor.css);
@import url(animations.css);
@import url(map.css);

:root {
    --color-primary-1: #1d1d1d;
    --color-primary-2: #92b8f0;
    --color-primary-3: #a2c2f1;

    --color-neutral-4: #fff;
    --color-neutral-5: #000;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
    /**/cursor: none;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--color-primary-2);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    cursor: none;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.social-midia-buttons {
    display: flex;
    gap: 18px;
}

.social-midia-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-4);
    font-size: 1.5rem;
    border-radius: 12px;
    text-decoration: none;
    color: var(--color-primary-2);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
    cursor: none;
}

.social-midia-buttons a:hover {
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-2);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.187rem;
}

.projeto-img {
    border-radius: 5px;
}

.construction-banner {
    width: 100%;
    background-color: var(--color-neutral-5);
    color: var(--color-neutral-4);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contato-img {
    margin: 0;
    margin-left: 80%;
    width: 20%;
    height: 20%;
}

.construction-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 300%;
    background: repeating-linear-gradient(
        45deg,
        #ffcc00,
        #ffcc00 10px,
        var(--color-neutral-5) 10px,
        var(--color-neutral-5) 20px
    );
    animation: slide .05s linear infinite;
    z-index: -1;
}

.warning-icon {
    margin: 0 10px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.projeto img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}